# Ignore everything by default:
*

# Allow only dot-files:
!\.*

# But not these dot-files:
\.DS_Store
\.ssh
\.*history
\.CFUserTextEncoding
\.netrc
\.yarnrc
\.lesshst
\.flutter
\.emulator_console_auth_token

# Ignore all cruft:
*~
\#*#
\.#*
